In [1]:
import pandas as pd

In [8]:
dataset = pd.read_csv('training_set/stemmed.csv')
unique_katas = dataset['kata'].unique()
separated = {kata: dataset[dataset['kata'] == kata] for kata in unique_katas}

In [9]:
dataset.head()

,kalimat_id,kata,sense,kalimat,pos
0,336691,cerah,4801,cuaca cerah lazim panjang tahun,JJ
1,336270,cerah,4801,gambar hasil layar cukup cerah milik speaker m...,JJ
2,336555,cerah,4803,masa depan cerah pemuda umur 20 prancis abad 17,JJ
3,336618,cerah,4801,cor caroli alpha canum venaticorum nama lengka...,JJ
4,336613,cerah,4801,sanders lebih suka cat air lilo maksud tampil ...,JJ

In [20]:
dataset['kalimat'][8983]

'teliti kembang galur semanggi tentu kandung sedikit kumarin galur lain kandung kumarin bentuk ikat'

In [12]:
lines = []
for i, row in dataset.iterrows():
    lines.append(row['kalimat'])

In [13]:
len(lines)

8984

In [21]:
new_lines = []
for line in lines:
    new_lines.append(line.split(" "))

In [23]:
len(new_lines)

8984

In [24]:
new_lines[0]

['cuaca', 'cerah', 'lazim', 'panjang', 'tahun']

In [34]:
for i in range(len(new_lines)):
    for j in range(len(new_lines[i])):
        if new_lines[i][j]==dataset['kata'][i]:
            new_lines[i][j] = new_lines[i][j] + "|" + dataset['sense'][i]

In [35]:
new_lines[0][1]

'cerah|4801'

In [30]:
dataset['kata'][0]

'cerah'

In [37]:
new_lines[1]

['gambar',
 'hasil',
 'layar',
 'cukup',
 'cerah|4801',
 'milik',
 'speaker',
 'mampu',
 'hasil',
 'suara',
 'keras',
 'jernih']