In [2]:
import pandas as pd

In [3]:
raw_single = pd.read_csv('training_set/single_annotator.csv')

In [4]:
raw_single.head()

   kalimat_id   kata sense                                            kalimat
0      336691  cerah  4801          Cuaca cerah adalah lazim sepanjang tahun.
1      336270  cerah  4801  Gambar yang dihasilkan oleh layarnya cukup cer...
2      336555  cerah  4803  Masa depan yang cerah bagi pemuda berumur 20 d...
3      336618  cerah  4801  Cor Caroli (Alpha Canum Venaticorum), (nama le...
4      336613  cerah  4801  Sanders lebih menyukai cat air untuk Lilo deng...